{% extends "base.html" %}

{% block title %}TrendImages : Dynamic Gallery : {{gallery.search_term|escape}}{% endblock %}
{% block meta_description %}Image galleries built from the search trending topic trend {{gallery.search_term|escape}} from Twitter using Flickr photo search{% endblock %}
{% block meta_keywords %}{{gallery.search_term|escape}}{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" media="all" href="/css/gallery.css" />
{% endblock %}
{% block page_js %}
    <script type="text/javascript" src="/js/gallery_dynamic.js"></script>
    <script src="/galleria/galleria-1.2.5.min.js"></script>
	<script src="/galleria/plugins/flickr/galleria.flickr.js"></script>
<script>
	var topic = '{{topic|escapejs}}';
</script>
{% endblock %}
{% block page_facebook_image %}
    {% for photo in gallery.photos %}
	<meta property="og:image" content="{{photo.getUrls.small}}"/>{% endfor %}
{% endblock %}

{% block breadcrumb %}
    <li class="first ui-corner-all"><a href="/">Main</a></li>
    <li class="ui-corner-all">Dynamic Gallery : {{topic|escape}}</li>
{% endblock %}

{% block content %}
                <div id="gallery"></div>
                {% include 'include/sharing.html' %}
                <div id="imagedata">
                    <div class="title"></div> 
                    <div class="user">by <span class="username"></span></div>
                    <div class="description"></div>
                </div>
{% endblock %}
