{% extends "base.html" %}

{% block title %}TrendImages : Privacy{% endblock %}

{% block page_css %}{% endblock %}
{% block page_js %}{% endblock %}

{% block breadcrumb %}
    <li class="first ui-corner-all"><a href="/">Main</a></li>
    <li class="ui-corner-all">Privacy</li>
{% endblock %}

{% block content %}
<p>TrendImages doesn't currently store information on users in it's own datastore. As such, it won't (and can't)
share that information with other parties.</p>

<p>The site does use Google AdSense (Google Ads) on it's pages and, as such, third parties may be placing and 
reading cookies on your browser, or using web beacons to collect information as a result of ad serving 
on your website. </p>
{% endblock %}
