<!DOCTYPE html>
<html>
<head>
  <title>Galleries</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <link type="text/css" href="/jqueryui/css/sunny/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />	
  <script src="/jqueryui/js/jquery-ui-1.8.10.custom.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
